#select{
    position: absolute;
    width: 103px;
    height: 40.82px;
    left: 857px;
    top: 210px;

    color: white;
    background: #86A3E1;
    opacity: 0.9;
    border-radius: 10px;
    border-style: none;
}

#musiclisttitle{
    font-family: 'Gmarket Sans TTF';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;
}

#temp{
    width: 300px;
    height: 50px;
}

#musiclistsinger{
    font-family: 'Gmarket Sans TTF';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #86A3E1;
}

li{
    list-style:none;
    /*outline: 1px dotted red;*/
}

#play{
    width: 300px;
    height: 50px;
    margin-top: 35px;
    /*outline: 1px dotted red;*/

    display:flex;
    aligh-items: center;
}

#musiclistresultname{
    margin-left: -60px;
}

#musiclistresulticon{
    margin-left: -60px;
}

#listresultline{
    margin-left: -60px;
}