<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/findpwd.css}"/>
</head>
<body>
  <h1 id="titlelogo" onclick="location.href='/main'">Music Sketch</h1>

  <h1 id="findpwd2title">비밀번호 변경하기</h1>
    <input id="newpwd" type="text" placeholder="새 비밀번호">
    <input id="newpwdtyp" type="text" placeholder="새 비밀번호 확인">

  <button id="changepwdbtn" onclick="location.href='/login/findpwd3'">비밀번호 변경하기</button>
</body>
</html>