<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h1 id="titlelogo" onclick="location.href='/main'">Music Sketch</h1>


<button onclick="location.href='/login/login'" id="main-login">로그인</button>
<button onclick="location.href='/login/join'" id="main-join">회원가입</button>

<h1 id="findIdPage">아이디 찾기</h1>
<box id="findIdNameBox">
    <input id="findIdName" type="text" placeholder="이름"></box>
<box id="findIdEmailBox">
    <input id="findEmail" type="text" placeholder="가입 메일 주소"></box>
<box id="findIdSelect">
    <select id="findIdSelectEmail">
        <option>@gmail.com</option>
        <option>@naver.com</option>
        <option>@daum.com</option>
    </select>
    <button onclick="location.href='/main'" id="signIn">
        아이디 찾기
    </button>
    <!--/    <input id="loginButton" type="submit" value="join">-->

<!--    <hr id="titleline2"/>-->

    <button onclick="location.href='/main'" id="findPw">비밀번호 찾기</button>
    <button onclick="location.href='/main'" id="findId">메인</button>
</body>
</html>